@import '../../../assets/theme/variables';

$navbarBgColor: $primaryColor;
$navLinkColor: #FFFFFF;
$navLinkActiveColor: $primaryColor;
$navLinkActiveBgColor: $pageBgColor;

nav {
  height: $appHeaderHeight;
  background-color: $navbarBgColor;

  a {
    display: inline-block;
    color: $navLinkColor;
    text-decoration: none;
    padding: 0 20px;
    line-height: $appHeaderHeight;
    height: $appHeaderHeight;

    &.active {
      background-color: $navLinkActiveBgColor;
      color: $navbarBgColor;
    }
  }

  .float-right {
    float: right;
    height: $appHeaderHeight;
  }
}

nav a, .user-menu-item {
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}
